.App {
  text-align: center;
}


body{
  background: url('/Users/evelynmarinez/Desktop/Lab1116763/lab1116763/src/components/assets/fondobaseball.jpeg');
background-repeat: no-repeat;
background-position: center;
background-size: 1200px 860px;
}



h1{
  text-align: center;
font-size:x-large;

}

h2{
  text-align: center;
font-size: medium;

}

h3{
  text-align: center;
font-size: small;
}

.baseContainer{
  display: flex;
background-color: darkgrey;
}

#btnIncrementar{
  background-color: crimson;
  display: flex;
  flex-direction: row;
}